### STOCKS

In [94]:
import yfinance as yf
import datetime as dt

In [ ]:
# Get data for Microsoft, Apple and Google

df = yf.download(['MSFT', 'AAPL', 'GOOG'], period='1d', interval="1m")

[*********************100%***********************]  3 of 3 completed

In [96]:
df

Price                       Adj Close                               Close  \
Ticker                           AAPL        GOOG        MSFT        AAPL
Datetime
2024-11-29 14:30:00+00:00  234.389999  169.600006  419.470001  234.389999
2024-11-29 14:31:00+00:00  234.300003  169.419998  419.170013  234.300003
2024-11-29 14:32:00+00:00  234.080002  169.490005  418.709991  234.080002
2024-11-29 14:33:00+00:00  234.342896  168.830002  418.609894  234.342896
2024-11-29 14:34:00+00:00  234.669998  168.980103  418.640015  234.669998
...                               ...         ...         ...         ...
2024-11-29 17:55:00+00:00  237.199997  170.460007  423.799988  237.199997
2024-11-29 17:56:00+00:00  237.477905  170.529999  423.950012  237.477905
2024-11-29 17:57:00+00:00  237.479996  170.600006  423.910004  237.479996
2024-11-29 17:58:00+00:00  237.475006  170.550003  423.839996  237.475006
2024-11-29 17:59:00+00:00  237.339996  170.559998  423.459991  237.339996

Price                                                    High              \
Ticker                           GOOG        MSFT        AAPL        GOOG
Datetime
2024-11-29 14:30:00+00:00  169.600006  419.470001  235.000000  170.360001
2024-11-29 14:31:00+00:00  169.419998  419.170013  234.409897  169.770004
2024-11-29 14:32:00+00:00  169.490005  418.709991  234.500000  169.630005
2024-11-29 14:33:00+00:00  168.830002  418.609894  234.414993  169.630005
2024-11-29 14:34:00+00:00  168.980103  418.640015  234.669998  169.029999
...                               ...         ...         ...         ...
2024-11-29 17:55:00+00:00  170.460007  423.799988  237.559998  170.550003
2024-11-29 17:56:00+00:00  170.529999  423.950012  237.490005  170.559998
2024-11-29 17:57:00+00:00  170.600006  423.910004  237.520004  170.619995
2024-11-29 17:58:00+00:00  170.550003  423.839996  237.494995  170.610001
2024-11-29 17:59:00+00:00  170.559998  423.459991  237.550003  170.630005

Price                                         Low                          \
Ticker                           MSFT        AAPL        GOOG        MSFT
Datetime
2024-11-29 14:30:00+00:00  420.569885  234.119995  169.539993  418.910004
2024-11-29 14:31:00+00:00  419.789886  233.970001  169.350006  419.079987
2024-11-29 14:32:00+00:00  419.290009  234.040100  169.270004  418.649994
2024-11-29 14:33:00+00:00  418.799988  234.080002  168.830002  418.209991
2024-11-29 14:34:00+00:00  419.220001  234.259995  168.820007  418.500000
...                               ...         ...         ...         ...
2024-11-29 17:55:00+00:00  424.454987  236.866104  170.320007  423.470001
2024-11-29 17:56:00+00:00  424.029999  237.110107  170.399994  423.570007
2024-11-29 17:57:00+00:00  424.179993  237.339996  170.520004  423.790009
2024-11-29 17:58:00+00:00  424.000000  237.320007  170.509995  423.718414
2024-11-29 17:59:00+00:00  424.000000  237.339996  170.479996  423.450012

Price                            Open                           Volume  \
Ticker                           AAPL        GOOG        MSFT     AAPL
Datetime
2024-11-29 14:30:00+00:00  234.839996  170.229996  420.029999  1119612
2024-11-29 14:31:00+00:00  234.375000  169.539993  419.600006   160925
2024-11-29 14:32:00+00:00  234.294998  169.429993  419.170013    93151
2024-11-29 14:33:00+00:00  234.080002  169.509995  418.786285    74280
2024-11-29 14:34:00+00:00  234.330002  168.843094  418.565002   102132
...                               ...         ...         ...      ...
2024-11-29 17:55:00+00:00  237.559998  170.550003  424.454987   480810
2024-11-29 17:56:00+00:00  237.184998  170.464996  423.795013   217571
2024-11-29 17:57:00+00:00  237.479996  170.539993  423.959991   262667
2024-11-29 17:58:00+00:00  237.479996  170.600006  423.899994   314366
2024-11-29 17:59:00+00:00  237.470001  170.550003  423.820007   664118

Price
Ticker                       GOOG     MSFT
Datetime
2024-11-29 14:30:00+00:00  759447  1965310
2024-11-29 14:31:00+00:00   51320    88438
2024-11-29 14:32:00+00:00   52949    83210
2024-11-29 14:33:00+00:00   68925   157921
2024-11-29 14:34:00+00:00   35078    83088
...                           ...      ...
2024-11-29 17:55:00+00:00  101912   137562
2024-11-29 17:56:00+00:00   57814    70445
2024-11-29 17:57:00+00:00   71873   104557
2024-11-29 17:58:00+00:00  104104   140957
2024-11-29 17:59:00+00:00  244323   318499

[210 rows x 18 columns]

In [97]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'GOOG'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'GOOG'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'GOOG'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'GOOG'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'GOOG'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'GOOG'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [98]:
# Get the closing price of Microsoft, Apple and Google
df['Close']

Ticker                           AAPL        GOOG        MSFT
Datetime
2024-11-29 14:30:00+00:00  234.389999  169.600006  419.470001
2024-11-29 14:31:00+00:00  234.300003  169.419998  419.170013
2024-11-29 14:32:00+00:00  234.080002  169.490005  418.709991
2024-11-29 14:33:00+00:00  234.342896  168.830002  418.609894
2024-11-29 14:34:00+00:00  234.669998  168.980103  418.640015
...                               ...         ...         ...
2024-11-29 17:55:00+00:00  237.199997  170.460007  423.799988
2024-11-29 17:56:00+00:00  237.477905  170.529999  423.950012
2024-11-29 17:57:00+00:00  237.479996  170.600006  423.910004
2024-11-29 17:58:00+00:00  237.475006  170.550003  423.839996
2024-11-29 17:59:00+00:00  237.339996  170.559998  423.459991

[210 rows x 3 columns]

In [99]:

# Get the current date and time.
filename = dt.datetime.now()
# Create a string in the format YYYYMMDD_HHMMSS.
filename = filename.strftime("%Y%m%d_%H%M%S")
filename = 'data/' + filename + ".csv"

# Show the filename.
filename

'data/20241130_161509.csv'

In [100]:
# Save the data to a CSV file.
df['Close'].to_csv(filename)

*********************************

End